
@model Job_Search_App.ViewModels.DashboardViewModel


@{
    ViewData["Title"] = "EditDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>  Update Posted job Information:</h3>




<div class="row justify-content-center">


    <form asp-controller="UpdateDashboard" asp-action="EditDashboard">
        <div id="welcome" style="font-size:25px;">

            <label>Title </label>
            <p> <input asp-for="@Model.jobInfo.Title"></p>

            <label>Job Type </label>
            <p> <input asp-for="@Model.jobInfo.Type"></p>




            <label>Company Name </label>
            <p> <input asp-for="@Model.jobInfo.CompanyName"></p>
            <label>Company Description </label>

            <div class="col-lg-12 form-group">
                <p> @Html.TextAreaFor(k => k.jobInfo.CompanyDescription, new { @class = "form-controll", rows = 4 }) </p>
            </div>


            <label>Filled </label>
            @*<p> <input asp-for="@Model.jobInfo.Filled"></p>*@

            <p>@Html.CheckBoxFor(k => k.Filled)</p>


            <label>Job Description: </label>

            <p> @Html.TextAreaFor(k => k.jobInfo.Description, new { @class = "form-controll", rows = 4 }) </p>




            <label>Location</label>
            <h3> <input asp-for="@Model.jobInfo.Location" /></h3>


            <label>Lastdate</label>
            <p>@Html.EditorFor(l => l.LastDate)</p>



            <br /> <br />
            <input type="submit" value="Update" />

            <br /><br /> <br /><br />
        </div>
    </form>
</div>



